spring:
  datasource:
    url: jdbc:h2:mem:bankdb;MODE=PostgreSQL
    username: sa
    password: ""
    driver-class-name: org.h2.Driver

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    show-sql: true

  flyway:
    enabled: true

  server:
    error:
      include-stacktrace: never
      include-message: always

  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB